@model IEnumerable<TaxBarAssociation.Models.BlogData>
@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<style>
    .status-label {
        border-radius: 0.25em;
        color: #fff;
        display: inline;
        font-size: 75%;
        font-weight: 500;
        line-height: 1;
        padding: 0.3em 0.7em 0.4em;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
    }
    .label-success {
        background-color: #36c6d3;
        border: 1px solid #27a4b0 !important;
    }

    .label-info {
        background-color: #659be0;
        border: 1px solid #3a80d7 !important;
    }

    .label-warning {
        background-color: #f1c40f;
        border: 1px solid #c29d0b !important;
    }
</style>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Blogs</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Blogs</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" style="float: left">List of Blogs</h3>
                        <a asp-action="AddBlog" asp-controller="Blog" style="float: right;" class="btn btn-primary btn-sm">Add New Blog</a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="BlogDatatable" width="100%" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Author</th>
                                        <th>Created At</th>
                                        <th>Status</th>
                                        <th>Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 1;
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td><img src="../../Uploads/BlogImages/@item.Image" width="50" alt="No Image" /></td>
                                                <td>@item.Title</td>
                                                <td>@item.CategoryName</td>
                                                <td>@item.UserName</td>
                                                <td>@item.Date</td>
                                                <td>
                                                    @if (item.Status == "published")
                                                    {
                                                        <span class="label-success status-label">Published</span>
                                                    }
                                                    else if (item.Status == "draft")
                                                    {
                                                        <span class="label-info status-label">Draft</span>
                                                    }
                                                    else if (item.Status == "pending")
                                                    {
                                                        <span class="label-warning status-label">Pending</span>
                                                    }
                                                </td>
                                                <td>
                                                    <a asp-action="EditBlog" asp-controller="Blog" asp-route-id="@item.BlogID" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
                                                    <a href="javascript:void(0)" onclick="Delete('@item.BlogID')" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>

                                            i = i + 1;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
@section Scripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $('#BlogDatatable').DataTable({
            autoWidth: false,
            columnDefs: [
                {
                    targets: ['_all'],
                    className: 'mdc-data-table__cell',
                },
            ],
        });

        function Delete(id) {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/Blog/DeleteBlog",
                            type: "POST",
                            data: {
                                id: id
                            },
                            dataType: "json",
                            success: function () {
                                swal("Done!", "It was succesfully deleted!", "success");
                                window.location.href = '../Blog/Index';
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                swal("Error deleting!", "Please try again", "error");
                            }
                        });
                    } else {
                        swal("Your imaginary file is safe!");
                    }
                });
        }
    </script>
}
